.arch-list{
    display: grid;
    grid-template-rows: 2fr 2fr;
}
.arch-head{
    margin: 10px auto;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    background-color: grey;
}
.arch-head-div{
    margin: 10px ;
    background-color: white;
    font-size: 14pt;
    padding: 5px;
}
.arch-main{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    background-color: gainsboro;
}

.arch-div{
    width: 90%;
    text-align: center;
    margin: 10px;
    padding: 8px;
}